@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body {
	background-color: #C0C9EE;
	padding-bottom: 60px;
}

header{
   height: 300px;
   background-size: cover; 
   padding: 125px 20px;
}



.text-naslov{
	color: #898AC4;
	text-align: center;

    background-color: rgba(245, 245, 245, 0.92);
    border-radius: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-podnaslov{

  color: #525275;
  font-weight: 400;
  text-align: center;
  font-family: "Libertinus Serif", serif;
  font-style: normal;
}

#header-podnaslov{
 background-color: rgba(245, 245, 245, 0.92);
    border-radius: 15px;

}

.bg-footer {
	background-color: #A2AADB;
}
.bg-footer a {
	text-decoration: none;
}

.mail-text {
	color:#898AC4;
}

.mail-text:hover {
	background-color: #faf1e5;
  	color: #A2AADB;
}

.navbar-izgled {
  background-color: #A2AADB !important;
  font-family: 'Georgia', serif;
  padding: 10px 30px;
  height: 100px;
}

.navbar-izgled .nav-link {
  color: #faf1e5 !important;
  margin-left: 15px;
  transition: all 0.3s ease;
}

.navbar-izgled .nav-link:hover {
  color: #898AC4 !important;
  text-shadow: 1px 1px 5px #000;
}

.navbar-izgled .dropdown-menu {
  background-color: #faf1e5;
  border: none;
}

.navbar-izgled .dropdown-item {
  color: #898AC4;
}

.navbar-izgled .dropdown-item:hover {
  background-color:#C0C9EE ;
  color: #faf1e5;
}

.navbar-brand img {
  border-radius: 5px;
  border: 2px solid #cccccc;
}

.navbar-izgled .nav-link:hover {
  transform: scale(1.1);
  text-shadow: 0 0 10px #faf1e5;
}


.navbar-izgled {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(6px);
  position: sticky;
  top: 0;
  z-index: 1000;
} 


.navbar-toggler {
  border-color: #898AC4;
}

.navbar-toggler-icon {
  background-color: #898AC4;
}

.gallery-card img {
  transition: transform 0.4s ease;

}


.card-color{
  background-color:#898AC4;
}

.scale-card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.gallery-card {
  overflow: visible;
  border-radius: 10px;
  height: 475px;
  background-color: #faf1e5;
}

.card-title {
  color: #faf1e5;
}

.card-text {
  color:#faf1e5 !important;
}

.image-wrapper {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.image-wrapper:hover {
  transform: scale(1.05);
}

.modal-content{
  background-color: #A2AADB;
}

.bojateksta {
  color: #faf1e5;
}

h2 {
  color: #525275;
  text-align: center;
  margin-top: 25px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-style: normal;
}

h5 {
  color: #525275;
  font-weight: bold;
}


p {
 color: #525275;
  font-weight: 400;
  text-align: justify;
  font-family: "Libertinus Serif", serif;
  font-style: normal;
}

li {
  color: #525275;
  font-size: 18px;
  line-height: 1.6;
  font-family: "Trirong", serif;;
}